fieldset{
  background-color: #C3D1CF;
  font-size: 110%;
}

.ej{
  margin-left: 5%;
  margin-top: 5%;
}

.boton1{
  background-color:#0EF520;
}

.boton2{
  background-color: #E30A07;
}
